﻿<div id="chatsPage">



    <aside id="visitors">
        <div class="inner">
            <h2>
                <i class="fa fa-users">
                </i>
                مخاطبین
            </h2>

            <ul>
                <li  ng-repeat="item in visitors" ng-click="showVisitor(item)" ng-class="item.socketId ? 'connected' : ''">

                    <div class="ip">
                        <label> IP </label> {{ _.last( item.visits).ip }}
                    </div>
                
                    <div class="system">
                       {{ _.last( item.visits).browser }} / {{ _.last( item.visits).os }}
                    </div>

                </li>
            </ul>

        </div>

    </aside>

    <aside id="visitor">

        <div class="inner">
            <h2>
                <i class="fa fa-users">
                </i>
                اطلاعات مخاطب
            </h2>

            <form name="visitorForm">


                <div class="input-group">
                    <label>شناسه</label>
                    <input name="id" type="text" disabled ng-model="visitor._id" />
                </div>



                <div class="input-group">
                    <label>ایمیل</label>
                    <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="visitor.email" />
                </div>

                <div class="input-group">
                    <label>شماره تماس</label>
                    <input name="phone" type="text" required placeholder="شماره تماس" ng-model="visitor.phone" />
                </div>

               
                <div class="clear"></div>
                <button class="button button-success" ng-click="saveVisitor()">
                    <i class="fa fa-check"></i>
                    ذخیره

                </button>

            </form>
        </div>

        <div class="inner">
            <h2>
                <i class="fa fa-users">
                </i>
                مکالمه ها
            </h2>


            <ul  id="chathistory" class="chats">

                <li ng-repeat="item in visitor.chats" ng-class="item.fromVisitor ? 'receiver': 'sender'">

                    <div class="text">
                    {{item.text}}
                    </div><span class="time">{{moment(item.insertDate).calendar()}}</span>
                </li>

            </ul>

            <div class="sendinput">
                <form id="messageDraft">
                    <textarea dir="auto" id="msgText" ng-keyup="$event.keyCode == 13 ? sendMessage(visitor.messageDraft) : return;"  placeholder="پیام شما" ng-model="visitor.messageDraft.text" name="messageDraft.text"></textarea>
                    <button  ng-click="sendMessage(visitor.messageDraft)">
                        <i class="fa fa-paper-plane"></i>

                    </button>
                    <div class="clear"></div>
                </form>
             
            </div>

        </div>


    </aside>



</div>
