﻿

<div class="toggle">
    <i ng-click="toggle()" class="fa fa-bars"></i>
</div>

<div class="brand">
    <img src="/img/happychat-logo.png" />
    <div class="title">
        <h1>هَپی چَت</h1>
        <h2>چَت پشتیبانی برای وِبسایت شما !</h2>
    </div>
</div>
<ul>



    <li>
        <div class="avatar">
            <img ng-src="https://api.adorable.io/avatars/200/{{user.name}}.png" alt="" />
        </div>
    </li>

    <!--<li>
        {{dashboards}}
        
        <div class="input">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
       
            <select ng-model="switchToDashboard" ng-options="item._id as item.name for item in dashboards" ng-change="setDashboard(switchToDashboard)">
           
            </select>

        </div>
    </li>-->

    <li ng-class="location.path() == '/dashboard' ? 'active' : '' ">
        <a href="/#!/dashboard">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            داشبورد
        </a>
    </li>

    <li ng-class="location.path() == '/chats' ? 'active' : '' ">
        <a href="/#!/chats">
            <i class="fa fa-comments" aria-hidden="true"></i>
            مکالمه ها
        </a>
    </li>


    <li ng-class="location.path() == '/contacts' ? 'active' : '' ">
        <a ng-href="contacts">
            <i class="fa fa-users" aria-hidden="true"></i>

            مخاطبین / بازدیدکنندگان
        </a>

    </li>

    <li ng-class="location.path() == '/support' ? 'active' : '' ">
        <a ng-href="support">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
             پشتیبانی سیستم
        </a>

    </li>

    <li ng-class="location.path() == '/campaigns' ? 'active' : '' ">
        <a ng-href="campaigns">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>

            کمپین ها
        </a>

    </li>


    <li  ng-class="location.path() == '/livemap' ? 'active' : '' ">
        <a ng-href="livemap">
            <i class="fa fa-globe" aria-hidden="true"></i>
                        مشاهده زنده
        </a>
    </li>

    <li  ng-class="location.path() == '/settings' ? 'active' : '' ">
        <a ng-href="settings">
            <i class="fa fa-gears" aria-hidden="true"></i>

            تنظیمات
        </a>
    </li>


    <li>
        <button class="logout" ng-click="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            خروج
        </button>
    </li>
</ul>

