﻿


<div id="authbox">


    <div class="brand">
        <img src="/img/happychat-logo.png" />
        <div class="title">
            <h1>هَپی چَت</h1>
            <h2>چَت پشتیبانی برای وِبسایت شما !</h2>
        </div>
    </div>
  
    <form ng-show="showForm == 'login'" name="loginForm">
     
      
        <div class="input-group">
            <i class="fa fa-at"></i>
            <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="email" />
        </div>

        <div class="input-group">
            <i class="fa fa-key"></i>
            <input name="password" type="password" required placeholder="رمز عبور" ng-model="password" />
        </div>
        <div class="error ltr" ng-hide="!error">
            {{error}}
        </div>
        <button ng-disabled="!loginForm.$valid"  class="login" ng-click="login()">
          <i class="fa fa-hand-o-left"></i>  ورود
        </button>
        <div class="links">

            <a class="register" ng-click="switch('register')">
                عضویت
            </a>
            |
            <a class="forgot" ng-click="showForm = 'forgot'">
                فراموشی رمز عبور
            </a>

        </div>
    </form>
    <form ng-show="showForm == 'register'" name="registerForm">
        <h2>
            <i class="fa fa-plus"></i>
           عضویت
        </h2>


        <div class="input-group">
            <i class="fa fa-user"></i>
            <input name="name" type="text" required placeholder="نام شخص / نام شرکت" ng-model="registerModel.name" />
        </div>

        <div class="input-group">
            <i class="fa fa-phone"></i>
            <input name="phone" type="text" required placeholder="شماره همراه" ng-model="registerModel.phone" />
        </div>


        <div class="input-group">
            <i class="fa fa-at"></i>
            <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="registerModel.email" />
        </div>

        <div class="input-group">
            <i class="fa fa-key"></i>
            <input name="password" type="password" required placeholder="رمز عبور" ng-model="registerModel.password" />
        </div>

  

        <button ng-disabled="!registerForm.$valid" class="register" ng-click="register()">
            <i class="fa fa-hand-o-left"></i>  عضویت
        </button>
        <div class="links">

            <a class="login" ng-click="switch('login')">
                ورود
            </a>
            |
            <a class="forgot" ng-click="switch('forgot')">
                فراموشی رمز عبور
            </a>

        </div>
    </form>

</div>