﻿<div id="chatsPage" ng-class="visitor ? 'inChat' : ''">



    <aside id="visitors">
        <div class="inner">


            <ul>
                <li ng-repeat="item in visitors  | orderChatVisitors" ng-class="item._id == visitor._id ? 'selected': ''" ng-click="showVisitor(item)">
                    <div class="avatar" ng-class="item.socketId ? 'connected' : ''">
                        <img ng-src="https://api.adorable.io/avatars/200/{{item.id}}.png" alt="" />

                    </div>
                    <div class="info">
                        <div class="top">
                            <span>   Visitor {{item.id}}</span>
                            <small>
                                <span ng-hide="item.typing">
                                  
                             
                                    {{ getLastMessage(item) ? moment(getLastMessage(item).insertDate).locale('fa').calendar() : moment(_.last( item.visits).insertDate).locale('fa').calendar()}}
                                </span>
                                <span ng-show="item.typing">
                                    is typing ...
                                </span>
                                <img ng-src="/img/flags/{{_.last( item.visits).geoip.country ? _.last( item.visits).geoip.country : '_unknown' }}.png" alt="" />

                            </small>
                        </div>
                        <div class="bottom">
                            <span ng-hide="item.typing">
                                <span ng-show="!getLastMessage(item).fromVisitor">
                                    <i class="fa fa-check"></i>
                                    <i ng-show="getLastMessage(item).seen" class="fa fa-check"></i>
                                </span>
                                {{getLastMessage(item).text}}
                            </span>

                            <span ng-show="item.typing">
                                {{item.typing}}
                            </span>
                        </div>
                    </div>



                </li>
            </ul>

        </div>

    </aside>

    <aside id="visitor" ng-show="visitor">

        <div class="inner">

            <div class="visitor-details">
                <button ng-click="showVisitorInfo = !showVisitorInfo">
                    <i class="fa fa-info-circle"></i>
                    <span>اطلاعات</span>
                </button>
                <button>
                    <i class="fa fa-pencil-square-o"></i>
                    <span>   تکمیل مشخصات</span>
                </button>
                <button> <i class="fa fa-ban"></i><span>  گزارش و بلاک </span></button>
                <div class="back" ng-click="visitor = null">
                    <i class="fa fa-chevron-left"></i>
                </div>

                <div class="visitor-info" ng-hide="!showVisitorInfo">
                    <ul>
                        <li>
                            <i class="fa fa-link"></i>  Referer : {{ visitor.visits[visitor.visits.length - 1].headers.referer}}
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>   IP : {{ visitor.visits[visitor.visits.length - 1].ip}}
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>   Location :
                            {{ visitor.visits[visitor.visits.length - 1].geoip.country}}
                            {{ visitor.visits[visitor.visits.length - 1].geoip.city}}
                            <a target="_blank" href="https://www.google.com/maps/@{{visitor.visits[visitor.visits.length - 1].geoip.ll[0]}},{{visitor.visits[visitor.visits.length - 1].geoip.ll[1]}},7z?hl=en">Show on google maps</a>
                        </li>
                        <li>
                            <i class="fa fa-{{visitor.visits[visitor.visits.length - 1].browser.toLowerCase()}}"></i>
                            {{visitor.visits[visitor.visits.length - 1].browser}}
                            {{visitor.visits[visitor.visits.length - 1].version}} /
                            {{visitor.visits[visitor.visits.length - 1].os}}



                        </li>
                    </ul>
                </div>


                <div class="clear"></div>
                <!--<form name="visitorForm">


                    <div class="input-group">
                        <label>شناسه</label>
                        <input name="id" type="text" disabled ng-model="visitor._id" />
                    </div>



                    <div class="input-group">
                        <label>ایمیل</label>
                        <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="visitor.email" />
                    </div>

                    <div class="input-group">
                        <label>شماره تماس</label>
                        <input name="phone" type="text" required placeholder="شماره تماس" ng-model="visitor.phone" />
                    </div>


                    <div class="clear"></div>
                    <button class="button button-success" ng-click="saveVisitor()">
                        <i class="fa fa-check"></i>
                        ذخیره

                    </button>

                </form>-->

            </div>
        </div>

        <div class="inner">


            <ul id="chathistory" class="chats">

                <li ng-repeat="item in visitor.chats" ng-class="item.fromVisitor ? 'receiver': 'sender'">

                    <div class="text">
                        {{item.text}}
                    </div><span class="time">{{moment(item.insertDate).locale('fa').calendar()}}</span>
                </li>

            </ul>

            <div class="sendinput">

                <form id="messageDraft">
                    <textarea dir="auto" id="msgText" ng-keyup="$event.keyCode == 13 ? sendMessage(visitor.messageDraft) : return;" placeholder="پیام شما" ng-model="visitor.messageDraft.text" name="messageDraft.text"></textarea>
                    <button ng-click="sendMessage(visitor.messageDraft)">
                        <i class="fa fa-paper-plane"></i>

                    </button>
                    <div class="clear"></div>
                </form>

            </div>

        </div>


    </aside>



</div>
