﻿<div id="dashboardPage" class="blocks">


    <div class="block block-6">
        <div class="blocks">
            <div class="block block-12" ng-init="switchToDashboard = dashboard._id" ng-show="dashboard">
                <div class="inner">
                    <h2>
                        <i class="fa fa-globe">
                        </i>
                        وبسایت فعال

                        <select class="pull-left" ng-model="switchToDashboard" ng-change="setDashboard(switchToDashboard)">

                            <option ng-repeat="item in dashboards" value="{{item._id}}">{{item.name}}</option>
                        </select>
                    </h2>
                    <ul>
                        <li>
                            <label>شناسه وبسایت : </label>
                            <span>{{dashboard._id}}</span>
                        </li>
                        <li>
                            <label>نام وبسایت : </label>
                            <span>{{dashboard.name}}</span>
                        </li>

                        <li>
                            <label>آدرس  وبسایت : </label>
                            <span>{{dashboard.domains}}</span>
                        </li>

                        <li>
                            <label>تاریخ اتمام سرویس : </label>
                            <span>{{moment( dashboard.expire).fromNow()}}</span>
                        </li>
                        <li>
                            <label>تیم پشتیبانی : </label>
                            <ul class="numeric-list">
                                <li ng-repeat="item in dashboard.members">
                                    <b>{{item.user.name}} </b>
                                    <small class="ltr">
                                        <{{item.user.email}}>
                                    </small>
                                </li>
                            </ul>

                           
                        </li>


                    </ul>

                </div>

            </div>

            <div class="block block-12">
                <div class="inner">

                    <h2>
                        <i class="fa fa-plus">
                        </i>
                        ثبت وبسایت جدید برای پشتیبانی
                    </h2>

                    <form name="addDashboard">
                        <div class="input-group">

                            <label>
                                عنوان وبسایت :
                            </label>

                            <input dir="auto" type="text" ng-model="newDashboard.name" required name="name" placeholder="عنوان وبسایت" />

                        </div>

                        <div class="input-group">

                            <label>
                                لینک وبسایت :
                            </label>

                            <input type="text" dir="auto" required ng-model="newDashboard.url" name="url" placeholder="لینک وبسایت  : http://www.site.com" />


                        </div>


                        <button ng-click="createDashboard()" ng-disabled="addDashboard.$invalid" class="button button-success">
                            <i class="fa fa-check"></i> ثبت
                        </button>


                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="block block-6">
        <div class="blocks">

            <div class="block block-12">
                <div class="inner">
                    <h2>
                        <i class="fa fa-bell">
                        </i>
                        اطلاعیه ها
                    </h2>

                    <p ng-hide="announcements">
                        اطلاعیه ای برای نمایش وجود ندارد ...
                    </p>

                </div>

            </div>

        </div>

    </div>
</div>
