﻿/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}
body,
input,
button,
textarea,
select,
.swal2-modal {
  font-family: 'IRANSansWeb';
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
#loader {
  position: fixed;
  z-index: 99999;
  content: ' ';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s !important;
  background: #fff;
}
#loader.ng-animate {
  opacity: 0;
}
body {
  font-size: 12px;
  direction: rtl;
  background: #fff;
  transition: all ease-in-out 0.5s;
}
.error {
  padding: 10px;
  margin: 10px;
  border: 1px dashed #e87878;
  background: #f5e3e3;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
}
.error:before {
  content: '>';
}
label {
  font-weight: bold;
}
body.loggedin {
  padding-right: 210px;
  background: #fff;
}
.clear {
  display: block;
  content: ' ';
  clear: both;
}
#chatsPage {
  border: 1px solid #ccc;
  position: relative;
}
#chatsPage:after {
  display: block;
  content: ' ';
  clear: both;
}
#chatsPage h2 {
  font-size: 18px;
  line-height: 30px;
}
#chatsPage > .inner {
  background: #fff;
  margin: 10px;
}
#chatsPage aside#visitor {
  position: fixed !important;
  top: 0;
  right: 210px;
  width: calc(100% - 450px);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  z-index: 0;
  background: #fff;
}
#chatsPage aside#visitor .visitor-details {
  position: absolute;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}
#chatsPage aside#visitor .visitor-details button {
  margin: 0;
  padding: 0 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  font-size: 11px;
  min-height: 30px;
}
#chatsPage aside#visitor .visitor-details button i {
  color: #ff6a01;
}
#chatsPage aside#visitor .input-group {
  padding: 10px;
  float: right;
  width: 30%;
  min-width: 160px;
}
#chatsPage aside#visitor .input-group label {
  display: block;
  line-height: 30px;
}
#chatsPage aside#visitor .input-group input {
  display: block;
  width: 100%;
}
#chatsPage aside#visitor .back {
  position: absolute;
  top: 8px;
  left: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #989898;
  font-size: 20px;
  text-align: center;
  display: none;
}
#chatsPage aside#visitor .back i {
  vertical-align: middle;
  margin-top: 5px;
}
#chatsPage aside#visitor .visitor-info {
  direction: ltr;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  font-family: Calibri;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
#chatsPage aside#visitor button {
  padding: 0 15px;
  margin: 0 10px;
}
#chatsPage aside#visitor div.sendinput {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 5%;
}
#chatsPage aside#visitor div.sendinput textarea {
  float: right;
  width: calc(100% - 80px);
  height: 60px;
  resize: none;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  line-height: 18px;
  font-size: 11px;
  border: 1px solid #ff6a00;
  color: #ff6a00;
  border-radius: 10px;
}
#chatsPage aside#visitor div.sendinput button {
  width: 60px;
  float: right;
  box-sizing: border-box;
  margin: 0 10px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #ff6a00;
  color: #ff6a00;
  border-radius: 10px;
}
#chatsPage aside#visitor div.sendinput button i {
  vertical-align: middle;
}
#chatsPage aside#visitor .chats {
  padding: 0 20px;
  margin: 0;
  height: 400px;
  overflow-y: scroll;
  height: calc(100vh - 190px) !important;
  padding-top: 60px;
}
#chatsPage aside#visitor .chats li {
  list-style: none;
  display: block;
  margin: 10px 0;
}
#chatsPage aside#visitor .chats li .text {
  display: inline-block;
  line-height: 20px;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  min-width: 50%;
}
#chatsPage aside#visitor .chats li .time {
  padding: 0 5px;
  font-size: 10px;
  font-weight: bold;
  color: #777;
  vertical-align: bottom;
}
#chatsPage aside#visitor .chats li:after {
  display: block;
  content: ' ';
  clear: both;
}
#chatsPage aside#visitor .chats li.receiver {
  text-align: left;
}
#chatsPage aside#visitor .chats li.receiver .text {
  float: left;
}
#chatsPage aside#visitor .chats li.sender {
  text-align: right;
}
#chatsPage aside#visitor .chats li.sender .text {
  background: #effdde;
}
#chatsPage aside#visitors {
  width: 260px;
  border-right: 1px solid #ccc;
  background: #eee;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -14px;
  z-index: 1;
  overflow-y: scroll;
  padding-left: 10px;
}
#chatsPage aside#visitors ul {
  padding: 0;
  margin: 0;
}
#chatsPage aside#visitors ul li {
  display: block;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px;
  direction: ltr;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-top: none;
}
#chatsPage aside#visitors ul li.selected {
  box-shadow: 0 0 80px #ccc inset;
}
#chatsPage aside#visitors ul li:last-child {
  border-bottom: none;
}
#chatsPage aside#visitors ul li .info {
  float: left;
  padding: 0 0 0 10px;
  height: 40px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 11px;
}
#chatsPage aside#visitors ul li .info .top {
  font-weight: bold;
  line-height: 24px;
}
#chatsPage aside#visitors ul li .info .top span {
  display: inline-block;
  vertical-align: bottom;
}
#chatsPage aside#visitors ul li .info .top small {
  float: right;
  font-size: 10px;
}
#chatsPage aside#visitors ul li .info .top small img {
  max-height: 26px;
  vertical-align: top;
}
#chatsPage aside#visitors ul li .info .bottom {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  color: #777;
  display: inline-block;
}
#chatsPage aside#visitors ul li .avatar {
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
  vertical-align: top;
}
#chatsPage aside#visitors ul li .avatar img {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#chatsPage aside#visitors ul li .avatar.connected:after {
  display: block;
  content: ' ';
  width: 8px;
  height: 8px;
  background: #19d825;
  border: 1px solid #16e823;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 22;
  border-radius: 100%;
}
#chatsPage aside#visitors ul li:after {
  display: block;
  clear: both;
  content: ' ';
}
#chatsPage aside#visitors ul li.connected {
  background: #d9fcdb;
}
.button {
  border: none;
  height: 30px;
  min-width: 30px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.button.button-success {
  background: #4f9f54;
  color: #fff;
}
input,
select {
  border: 1px solid #ccc;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 5px;
}
.blocks:after {
  content: ' ';
  clear: both;
  display: block;
}
.numeric-list {
  list-style: decimal;
}
b {
  font-weight: bold;
}
small {
  font-size: 80%;
}
.ltr {
  direction: ltr;
}
span.ltr,
small.ltr {
  display: inline-block;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.block {
  box-sizing: border-box;
  float: right;
}
.block .inner {
  border: 1px solid #ccc;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
}
.block.block-6 {
  width: 50%;
}
.block.block-12 {
  width: 100%;
}
.block form .input-group {
  margin: 10px 0;
}
.block form input {
  width: calc(100% - 40px);
}
.block label {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}
.block h1,
.block h2,
.block h3 {
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.block p {
  padding: 10px 40px;
  color: #444;
}
.block ul {
  padding: 10px 40px;
}
.block h1 {
  font-size: 30px;
}
.block h2 {
  font-size: 16px;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.7;
}
#authbox {
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #444;
  overflow: hidden;
  box-sizing: border-box;
}
#authbox .brand {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 30px;
}
#authbox form h2 {
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  border-bottom: 1px solid #ff6a00;
}
#authbox form h2 i {
  vertical-align: middle;
}
#authbox form button.login,
#authbox form button.register,
#authbox form .links {
  margin: 10px;
  line-height: 30px;
  height: 30px;
  font-weight: bold;
}
#authbox form button.login,
#authbox form button.register {
  float: right;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  background: #fd7819;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#authbox form button.login i,
#authbox form button.register i {
  color: #333;
  vertical-align: middle;
}
#authbox form button.register {
  background: #fd7819;
}
#authbox form .links {
  color: #777;
  float: left;
}
#authbox form .links a {
  cursor: pointer;
}
#authbox .input-group {
  margin: 10px;
}
#authbox .input-group:after {
  display: block;
  clear: both;
  content: ' ';
}
#authbox .input-group i,
#authbox .input-group input {
  float: left;
  width: 30px;
  height: 30px;
  vertical-align: top;
  box-sizing: border-box;
  line-height: 30px;
  border: none;
  background: #f1efef;
  border: 1px solid #ccc;
}
#authbox .input-group input {
  border-left: none;
  padding: 0 10px;
  direction: ltr;
  border-radius: 0 5px 5px 0;
}
#authbox .input-group input.ng-invalid {
  border-bottom-color: red;
}
#authbox .input-group i {
  border-radius: 5px 0 0 5px;
  text-align: center;
  border-right: none;
}
#authbox .input-group input {
  width: calc(100% - 30px);
}
div.toggle {
  vertical-align: top;
  display: none;
}
div.toggle i {
  display: block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid #ff6a00;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
div.brand {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #ff6a00;
  padding: 10px;
  margin-bottom: 10px;
}
div.brand:after {
  display: block;
  clear: both;
  content: ' ';
}
div.brand img {
  width: 50px;
  height: auto;
  float: right;
  vertical-align: top;
}
div.brand .title {
  float: right;
  width: calc(100% - 50px);
  padding: 0 4px 0 0;
  box-sizing: border-box;
}
div.brand .title h1 {
  color: #000;
  font-size: 18px;
  line-height: 32px;
}
div.brand .title h2 {
  font-size: 10px;
  line-height: 18px;
  color: #555;
}
aside#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 210px;
  height: 100vh;
  background: #fff;
  border-left: 1px solid #ff6a00;
  transition: right ease 0.3s;
  overflow: hidden;
  opacity: 1;
  box-shadow: 0 0 200px #eee inset;
  border-bottom: 1px solid #777;
  z-index: 2222;
}
aside#sidebar.ng-hide {
  right: -300px;
}
aside#sidebar ul {
  padding: 0 20px;
}
aside#sidebar ul li {
  margin-bottom: 10px;
}
aside#sidebar ul li > div.avatar {
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 0 5px #000 inset;
  border-radius: 5px;
  display: none;
}
aside#sidebar ul li > div.avatar img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
aside#sidebar ul li > div.input select {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 10px;
  outline: none;
  line-height: 30px;
}
aside#sidebar ul li > div.input select option {
  background: #333;
  line-height: 30px;
  height: 30px;
}
aside#sidebar ul li.active > button.logout,
aside#sidebar ul li.active > a,
aside#sidebar ul li.active > div.input {
  border-bottom: 3px solid #ff6a00;
}
aside#sidebar ul li > button.logout,
aside#sidebar ul li > a,
aside#sidebar ul li > div.input {
  color: #333;
  background: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
  border-radius: 5px;
  position: relative;
  outline: none;
  border: none;
  padding: 0 36px 0 10px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  border-bottom: 1px solid #ccc;
}
aside#sidebar ul li > button.logout:hover,
aside#sidebar ul li > a:hover,
aside#sidebar ul li > div.input:hover {
  color: #ff6a00;
  font-weight: bold;
}
aside#sidebar ul li > button.logout:hover i,
aside#sidebar ul li > a:hover i,
aside#sidebar ul li > div.input:hover i {
  color: #ff6a00;
}
aside#sidebar ul li button.logout {
  background: #ae1313;
  color: #fff;
}
aside#sidebar ul li button.logout i {
  background: #6f0404;
  color: #fff;
}
aside#sidebar ul li i {
  width: 30px;
  display: block;
  text-align: center;
  color: #999;
  font-size: 18px;
  height: 100%;
  line-height: 36px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
}
section#content {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 800px) {
  #chatsPage {
    position: relative;
  }
  #chatsPage .back {
    display: block !important;
  }
  #chatsPage.inChat aside#visitor {
    display: block;
  }
  #chatsPage.inChat aside#visitor .visitor-details button {
    width: 30px;
    font-size: 15px;
  }
  #chatsPage.inChat aside#visitor .visitor-details button span {
    display: none;
  }
  #chatsPage.inChat aside#visitors {
    display: none;
  }
  #chatsPage aside#visitors {
    width: 100%;
    top: 70px;
  }
  #chatsPage aside#visitor {
    position: fixed;
    right: 0;
    top: 70px;
    display: none;
    z-index: 222;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
  }
  #chatsPage aside#visitor .chats {
    height: calc(100vh - 240px) !important;
  }
  #authbox {
    margin-top: -70px;
  }
  .numeric-list {
    list-style: inside decimal;
  }
  div.toggle {
    display: inline-block;
  }
  .block ul {
    padding: 0;
  }
  .block.block-6 {
    width: 100%;
  }
  body.loggedin {
    padding-right: 0;
  }
  section#content {
    padding: 10px;
    padding-top: 80px;
  }
  aside#sidebar {
    width: 100%;
    height: 70px;
    transition: all ease 0.5s;
    z-index: 9999;
  }
  aside#sidebar .avatar {
    display: none;
  }
  aside#sidebar .brand {
    border-bottom: none;
  }
  aside#sidebar.open {
    height: 100vh;
  }
  aside#sidebar ul {
    overflow-y: scroll;
    max-height: calc(100vh - 70px);
  }
}