﻿<!DOCTYPE html>
<html ng-app="dashboard">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{location.path()}}</title>
    <base href="/" />
    <link href="vendors/bower_components/angular/angular-csp.css" rel="stylesheet" />
    <link href="vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="vendors/bower_components/aos/dist/aos.css" rel="stylesheet" />
    <link href="vendors/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="vendors/bower_components/ng-scrollbar/dist/ng-scrollbar.min.css" rel="stylesheet" />

    <link href="css/style.min.css" rel="stylesheet" />

</head>
<body ng-class="user ? 'loggedin' : ''">
    <div id="loader" ng-hide="loaded">

    </div>
    <aside ng-include="'/views/partials/sidebar.html'" id="sidebar" class="{{showSidebar ? 'open' : ''}}" ng-hide="!user"></aside>
    <section id="content">

        <ng-view></ng-view>

    </section>

    <script src="vendors/bower_components/aos/dist/aos.js"></script>
    <script src="vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="vendors/bower_components/angular/angular.min.js"></script>
    <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="vendors/bower_components/angular-route/angular-route.min.js"></script>
    <script src="vendors/bower_components/angular-socket-io/socket.min.js"></script>
    <script src="vendors/bower_components/underscore/underscore-min.js"></script>
    <script src="vendors/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="vendors/bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="vendors/bower_components/ng-scrollbar/dist/ng-scrollbar.min.js"></script>

    <script src="cordova.js"></script>
    <script src="module/dashboard.js"></script>
    <script src="module/controllers.js"></script>
</body>
</html>