﻿@import "../vendors/bower_components/reset-css/reset";

@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}

body, input, button, textarea, select, .swal2-modal {
    font-family: 'IRANSansWeb';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

#loader {
    position: fixed;
    z-index: 99999;
    content: ' ';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s !important;
    background: #fff;

    &.ng-animate {
        opacity: 0;
    }
}

body {
    font-size: 12px;
    direction: rtl;
    background: #fff;
    transition: all ease-in-out 0.5s;
}

.error {
    padding: 10px;
    margin: 10px;
    border: 1px dashed #e87878;
    background: #f5e3e3;
    color: #000;
    font-weight: bold;
    border-radius: 5px;

    &:before {
        content: '>';
    }
}

label {
    font-weight: bold;
}

body.loggedin {
    padding-right: 210px;
    background: #fff;
}

.clear {
    display: block;
    content: ' ';
    clear: both;
}

#chatsPage {
    border: 1px solid #ccc;
    position: relative;

    &:after {
        display: block;
        content: ' ';
        clear: both;
    }

    h2 {
        font-size: 18px;
        line-height: 30px;
    }

    > .inner {
        background: #fff;
        margin: 10px;
    }

    aside#visitor {
        position: fixed !important;
        top: 0;
        right: 210px;
        width: calc(~"100% - 450px");
        position: relative;
        height: 100vh;
        box-sizing: border-box;
        z-index: 0;
        background: #fff;

        .visitor-details {
            position: absolute;
            box-shadow: 0 0 10px #ccc;
            background: #fff;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px;
            box-sizing: border-box;

            button {
                margin: 0;
                padding: 0 5px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-weight: bold;
                color: #333;
                font-size: 11px;

                i {
                    color: #ff6a01;
                }

                min-height: 30px;
            }
        }

        .inner {
        }

        .input-group {
            padding: 10px;
            float: right;
            width: 30%;
            min-width: 160px;

            label {
                display: block;
                line-height: 30px;
            }

            input {
                display: block;
                width: 100%;
            }
        }

        .back {
            position: absolute;
            top: 8px;
            left: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #989898;
            font-size: 20px;
            text-align: center;
            display: none;

            i {
                vertical-align: middle;
                margin-top: 5px;
            }
        }

        .visitor-info {
            direction: ltr;
            text-align: left;
            padding: 0 20px;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 22px;
            font-family: Calibri;
            border-top: 1px solid #ccc;
            margin-top:10px;

            ul {
                li {
                }
            }
        }

        button {
            padding: 0 15px;
            margin: 0 10px;
        }

        div.sendinput {
            width: 90%;
            margin: 0 auto;
            position: absolute;
            bottom: 10px;
            left: 5%;

            textarea {
                float: right;
                width: calc(~"100% - 80px");
                height: 60px;
                resize: none;
                margin: 0;
                box-sizing: border-box;
                padding: 10px;
                outline: none;
                line-height: 18px;
                font-size: 11px;
                border: 1px solid #ff6a00;
                color: #ff6a00;
                border-radius: 10px;
            }

            button {
                width: 60px;
                float: right;
                box-sizing: border-box;
                margin: 0 10px;
                height: 30px;
                line-height: 30px;
                background: #fff;
                border: 1px solid #ff6a00;
                color: #ff6a00;
                border-radius: 10px;

                i {
                    vertical-align: middle;
                }
            }
        }

        .chats {
            padding: 0 20px;
            margin: 0;
            height: 400px;
            overflow-y: scroll;
            height: calc(~"100vh - 190px") !important;
            padding-top: 60px;

            li {
                list-style: none;
                display: block;
                margin: 10px 0;



                .text {
                    display: inline-block;
                    line-height: 20px;
                    background: #eee;
                    padding: 5px;
                    border-radius: 5px;
                    min-width: 50%;
                }

                .time {
                    padding: 0 5px;
                    font-size: 10px;
                    font-weight: bold;
                    color: #777;
                    vertical-align: bottom;
                }

                &:after {
                    display: block;
                    content: ' ';
                    clear: both;
                }
            }

            li.receiver {
                text-align: left;

                .text {
                    float: left;
                }
            }

            li.sender {
                text-align: right;

                .text {
                    background: #effdde;
                }
            }
        }
    }

    aside#visitors {
        width: 260px;
        border-right: 1px solid #ccc;
        background: #eee;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -14px;
        z-index: 1;
        overflow-y: scroll;
        padding-left: 10px;

        ul {
            padding: 0;
            margin: 0;

            li {
                display: block;
                line-height: 18px;
                box-sizing: border-box;
                padding: 10px;
                direction: ltr;
                text-align: left;
                border-bottom: 1px solid #ccc;
                border-top: none;

                &.selected {
                    box-shadow: 0 0 80px #ccc inset;
                }

                &:last-child {
                    border-bottom: none;
                }

                .info {
                    float: left;
                    padding: 0 0 0 10px;
                    height: 40px;
                    box-sizing: border-box;
                    width: calc(~"100% - 40px");
                    box-sizing: border-box;
                    vertical-align: middle;
                    font-size: 11px;

                    .top {
                        font-weight: bold;
                        line-height: 24px;

                        span {
                            display: inline-block;
                            vertical-align: bottom;
                        }

                        small {
                            float: right;
                            font-size: 10px;

                            img {
                                max-height: 26px;
                                vertical-align: top;
                            }
                        }
                    }

                    .bottom {
                        text-overflow: ellipsis;
                        width: 100%;
                        overflow: hidden;
                        color: #777;
                        display: inline-block;
                    }
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    float: left;
                    position: relative;
                    vertical-align: top;

                    img {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                    }

                    &.connected {
                        &:after {
                            display: block;
                            content: ' ';
                            width: 8px;
                            height: 8px;
                            background: #19d825;
                            border: 1px solid #16e823;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                            z-index: 22;
                            border-radius: 100%;
                        }
                    }
                }


                &:after {
                    display: block;
                    clear: both;
                    content: ' ';
                }

                &.connected {
                    background: #d9fcdb;
                }
            }
        }
    }
}

.button {
    border: none;
    height: 30px;
    min-width: 30px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;

    &.button-success {
        background: #4f9f54;
        color: #fff;
    }
}

input, select {
    border: 1px solid #ccc;
    height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 5px;
}

.blocks {
    &:after {
        content: ' ';
        clear: both;
        display: block;
    }
}

.numeric-list {
    list-style: decimal;
}

b {
    font-weight: bold;
}

small {
    font-size: 80%;
}

.ltr {
    direction: ltr;
}

span.ltr, small.ltr {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.block {
    box-sizing: border-box;
    float: right;

    .inner {
        border: 1px solid #ccc;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
        margin: 5px;
    }

    &.block-6 {
        width: 50%;
    }

    &.block-12 {
        width: 100%;
    }

    form {

        .input-group {
            margin: 10px 0;
        }

        input {
            width: calc(~"100% - 40px");
        }
    }

    label {
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
    }

    h1, h2, h3 {
        line-height: 40px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }

    p {
        padding: 10px 40px;
        color: #444;
    }

    ul {
        padding: 10px 40px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
    }
}

a, a:focus, a:hover {
    text-decoration: none;
}

button[disabled] {
    cursor: not-allowed !important;
    opacity: 0.7;
}

#authbox {
    width: 440px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    color: #444;
    overflow: hidden;
    box-sizing: border-box;


    .brand {
        width: 200px;
        display: block;
        margin: 0 auto;
        border-bottom: none;
        margin-bottom: 30px;
    }

    form {



        &.ng-hide:not(.ng-hiding) {
        }

        h2 {
            line-height: 40px;
            padding: 0 10px;
            font-size: 16px;
            font-weight: bold;
            color: #777;
            border-bottom: 1px solid #ff6a00;

            i {
                vertical-align: middle;
            }
        }

        button.login, button.register, .links {
            margin: 10px;
            line-height: 30px;
            height: 30px;
            font-weight: bold;
        }


        button.login, button.register {
            float: right;
            border: none;
            padding: 0 15px;
            border-radius: 5px;
            background: #fd7819;
            color: #fff;
            font-weight: bold;
            cursor: pointer;

            i {
                color: #333;
                vertical-align: middle;
            }
        }

        button.register {
            background: #fd7819;
        }

        .links {
            color: #777;
            float: left;

            a {
                cursor: pointer;
            }
        }
    }

    .input-group {
        margin: 10px;

        &:after {
            display: block;
            clear: both;
            content: ' ';
        }

        i, input {
            float: left;
            width: 30px;
            height: 30px;
            vertical-align: top;
            box-sizing: border-box;
            line-height: 30px;
            border: none;
            background: #f1efef;
            border: 1px solid #ccc;
        }

        input {
            border-left: none;
            padding: 0 10px;
            direction: ltr;
            border-radius: 0 5px 5px 0;

            &.ng-invalid {
                border-bottom-color: red;
            }
        }

        i {
            border-radius: 5px 0 0 5px;
            text-align: center;
            border-right: none;
        }

        input {
            width: calc(~"100% - 30px");
        }
    }
}

div.toggle {
    vertical-align: top;
    display: none;

    i {
        display: block;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin-top: 20px;
        margin-right: 20px;
        border: 2px solid #ff6a00;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
}

div.brand {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff6a00;
    padding: 10px;
    margin-bottom: 10px;

    &:after {
        display: block;
        clear: both;
        content: ' ';
    }

    img {
        width: 50px;
        height: auto;
        float: right;
        vertical-align: top;
    }

    .title {
        float: right;
        width: calc(~"100% - 50px");
        padding: 0 4px 0 0;
        box-sizing: border-box;

        h1 {
            color: #000;
            font-size: 18px;
            line-height: 32px;
        }

        h2 {
            font-size: 10px;
            line-height: 18px;
            color: #555;
        }
    }
}


aside#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 210px;
    height: 100vh;
    background: #fff;
    border-left: 1px solid #ff6a00;
    transition: right ease 0.3s;
    overflow: hidden;
    opacity: 1;
    box-shadow: 0 0 200px #eee inset;
    border-bottom: 1px solid #777;
    z-index: 2222;


    &.ng-hide {
        right: -300px;
    }




    ul {
        padding: 0 20px;

        li {
            margin-bottom: 10px;

           

            > div.avatar {
                overflow: hidden;
                padding: 15px;
                box-shadow: 0 0 5px #000 inset;
                border-radius: 5px;
                display: none;

                img {
                    border-radius: 5px;
                    width: 100%;
                    height: auto;
                }
            }

            & > div.input {

                select {
                    width: 100%;
                    box-sizing: border-box;
                    background: transparent;
                    border: none;
                    color: #fff;
                    font-size: 10px;
                    outline: none;
                    line-height: 30px;

                    option {
                        background: #333;
                        line-height: 30px;
                        height: 30px;
                    }
                }
            }
             &.active{
                 & > button.logout, & > a, & > div.input {
                     border-bottom:3px solid #ff6a00;
                 }
            }
            & > button.logout, & > a, & > div.input {
                color: #333;
                background: #fff;
                display: block;
                width: 100%;
                box-sizing: border-box;
                text-align: start;
                border-radius: 5px;
                position: relative;
                outline: none;
                border: none;
                padding: 0 36px 0 10px;
                height: 36px;
                line-height: 36px;
                cursor: pointer;
                transition: all ease-in-out 0.15s;
                border-bottom: 1px solid #ccc;

                &:hover {
                    color: #ff6a00;
                    font-weight: bold;

                    i {
                        color: #ff6a00;
                    }
                }
            }

            button.logout {
                background: #ae1313;
                color: #fff;

                i {
                    background: #6f0404;
                    color: #fff;
                }
            }

            i {
                width: 30px;
                display: block;
                text-align: center;
                color: #999;
                font-size: 18px;
                height: 100%;
                line-height: 36px;
                vertical-align: middle;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

section#content {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
}

@media (max-width:800px) {
    #chatsPage {
        position: relative;

        .back {
            display: block !important;
        }

        &.inChat {
            aside#visitor {
                display: block;

                .visitor-details {

                    button {
                        width:30px;
                        font-size:15px;
                        span {
                            display: none;
                        }
                    }
                }
            }

            aside#visitors {
                display: none;
            }
        }

        aside#visitors {
            width: 100%;
            top: 70px;
        }

        aside#visitor {
            position: fixed;
            width: 100%;
            right: 0;
            top: 70px;
            display: none;
            z-index: 222;
            width: 100%;
            height: calc(~"100vh - 90px");
            overflow: hidden;


            .chats {
                height: calc(~"100vh - 240px") !important;
              
            }
        }
    }

    #authbox {
        margin-top: -70px;
    }

    .numeric-list {
        list-style: inside decimal;
    }

    div.toggle {
        display: inline-block;
    }

    .block {
        ul {
            padding: 0;

            li {
            }
        }

        &.block-6 {
            width: 100%;
        }
    }

    body.loggedin {
        padding-right: 0;
    }

    section#content {
        padding: 10px;
        padding-top: 80px;
    }

    aside#sidebar {
        width: 100%;
        height: 70px;
        transition: all ease 0.5s;
        z-index: 9999;
     
        .avatar {
            display: none;
        }

        .brand {
            border-bottom: none;
        }

        &.open {
            height: 100vh;
        }
        ul{
            overflow-y:scroll;
            max-height:calc(~"100vh - 70px");
         
        }
    }
}
